.first{
  background: url(../img/firstBg.jpg) no-repeat;
  background-position: right;
  background-size: cover;
  height: 100%;
  min-height: 596px;
  transition: all 0.3s ease-in;
  header{
    text-align: right;
    .logo{
      display: inline-block;
      width: 298px;
      height: 53px;
      margin-top: 40px;
      margin-right: 25px;
      // background: url(../img/logo.png) no-repeat;
      font-size: 45px;
      font-weight: bold;
      text-shadow: 0 1px 3px #000;
    }
  }
  .box1,.box2{
    width: 50%;
    display: inline-block;
    float: left;
    margin-top: 95px;
  }
  .box1{
    text-align: right;
    padding-left: 190px;
    padding-right: 15px;
    .title-info{
      font-size: 40px;
      margin-top: 125px;
      padding-left: 30px;
      text-align: left;
    }
    .btn{
      color: #6cc0e6;
      margin: 30px 30px 0 0;
      padding: 20px 40px;
    }
  }
  .box2{
    padding-left: 15px;
    .prod{
      display: inline-block;
      width: 275px;
      height: 380px;
      position: relative;
      .item-img{
        position: absolute;
        bottom: 0;
      }
      &#item1{
        .item-img{
          bottom: 15px;
        }
        .badge{
          right: 25px;
          top: 2px
        }
      }
      .badge{

      }
      .badge2{
      }
    }
  }
}
@media screen and (max-width: 1400px) {
  .first{
    header{
      text-align: center;
      .logo{
        margin-right: 0;
      }
    }
    .box1{
      width: 100%;
      text-align: center;
      padding: 0;
      margin: 0;
      .title-info{
        margin: 30px;
        text-align: center;
      }
      .btn{
        margin: 0;
      }
    }
    .box2{
      margin-top: 45px;
      width: 100%;
      text-align: center;
      .prod{
        width: 30%;
        .item-img{
          left: 0;
        }
      }
    }
  }
}
@media screen and (max-width: 996px) {
  .first{
    background-position: bottom;
    header{
      .logo{
        margin-top: 30px;
      }
    }
    .box1{
      margin-top: 40px;
      .title-info{
        padding: 0;
      }
    }
    .box2{
      padding: 0;
      margin-top: 45px;
      width: 100%;
      text-align: center;
      .prod{
        width: 60%;
        height: auto;
        &#item1{
          .badge{
            right: 0;
          }
        }
        .item-img{
          margin-top: 50px;
          position: relative;
        }
      }
    }
  }
}
@media screen and (max-width: 468px) {
  .first{

    .box2{
      .prod{
        width: 90%;
        height: auto;

        .item-img{
          width: 100%;
        }
      }
    }
  }
}
