.four{
  background: url(../img/lastBg.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  min-height: 1178px;
  .btn-wrap{
    text-align: center;
    margin: 70px 0;
  }
  .btn{
    padding: 15px 80px;
    border: 1px solid;
    color: #3a579e;
  }
  .wrap_productBox{
    margin-top: 25px;
    margin-bottom: 240px;
    background: #fff;
    font-size: 18px;
    color: #3a579e;
    padding: 65px 60px;
  }
  .filter_box{
    display: inline-block;
    min-width: 300px;
    height: 60px;
    .dropdown_menu{
      color: #49afe9;
      display: inline-block;
      width: 225px;
      border: 1px solid #c3c3c3;
      position: relative;
      top: 8px;
      cursor: pointer;
      &:after{
        content: '';
        display: inline-block;
        width: 14px;
        height: 14px;
        border: 1px solid #c3c3c3;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
        position: absolute;
        right: 15px;
        top: 8px;
      }
      a{
        color: #49afe9;
        display: inline-block;
        text-decoration: none;
      }
      .selected_option{
        height: 35px;
        line-height: 40px;
        padding: 0 10px;
        overflow: hidden;
      }
      .dropdown_list{
        display: none;
        width: 225px;
        position: absolute;
        top: 41px;
        left: -1px;
        padding: 0;
        margin: 0;
        z-index: 2;
        background: #fff;
        li{
          list-style: none;
          border: 1px solid #c3c3c3;
          border-top: none;
          a{
            padding: 10px;
            width: 100%;
          }
        }
      }
      &.open .dropdown_list{
        display: block;
      }
    }
  }
  .color_menu{
    display: inline-block;
    .color_list{
      .circle{
        display: inline-block;
        border:2px solid #a29e9e;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        cursor: pointer;
        &.active{
          box-shadow: 0 0 2px 2px #49afe9;
        }
      }
      .white{
        background: #fff;
      }
      .grey{
        background: grey;
      }
      .orange{
        background: orange;
      }
      .red{
        background: red;
      }
      .black{
        background: #000;
      }
      .yellow{
        background: yellow;
      }
    }
  }
  // for owlCarousel
  .prod_slider{
    &.space, .owl-stage-outer{
      padding-top: 100px;
    }
    .owl-item{
      .prod_item{
        min-width: 100%;
      }
    }
  }
  // ... owlCarousel
  .prod_slider{
    .prod_item{
      display: inline-block;
      min-width: 33%;
      text-align: center;
    }
    .prod_wrap{
      text-align: center;
      position: relative;

      .prod-img{
        display: inline-block;
        img{
          // display: none;
          height: 0;
          opacity: 0;
          transition: opacity 0.3s ease-in;
          &.active{
            opacity: 1;
            display: inline-block;
            min-height: 250px;
            width: initial;
            max-width: 100%;
            max-height: 250px;
          }
        }
      }
      .badge,.badge2{
        top: -30px;
      }
      .prod_info{
        .prod_price{
          display: block;
          font-weight: bold;
        }
        .color_list{
          padding: 0;
          .circle{
            margin: 0 3px;
          }
        }
      }
    }
  }
  .owl-prev,.owl-next{
    display: inline-block;
    width: 50px;
    height: 95px;
    background: #34bcaa;
    position: absolute;
    top: calc(50% - 47px);
    transition: all 0.3s ease;
    &:hover{
      transform: scale(0.93);
    }
    &:before{
      content: '';
      display: inline-block;
      width: 20px;
      height: 20px;
      border: solid;
      color: #fff;
      right: 20px;
      top: calc(50% - 10px;);
      position: absolute;
      border-width: 3px 3px 0 0;
      transform: rotate(45deg);
    }
    &:after{
      content: '';
      display: inline-block;
      border: 5px solid transparent;
      border-top: 5px solid #116358;
      border-left: 5px solid #116358;
    }
  }
  .owl-prev{
    left: -70px;
    &:before{
      border-width: 0 0 3px 3px;
      left: 20px;
    }
    &:after{
      border: 5px solid transparent;
      border-top: 5px solid #116358;
      border-right: 5px solid #116358;
      bottom: -10px;
      position: absolute;
    }
  }
  .owl-next{
    right: -70px;
    &:after{
      bottom: -10px;
      right: 0;
      position: absolute;
    }
  }
}
@media screen and (max-width: 1400px){
  .owl-next,.owl-prev{
    display: none !important;
  }
}
@media screen and (max-width: 1200px){
  .four{
    .filter_box{
      display: block;
    }
    .prod_slider{
      .prod_item{
        width: 45%;
      }
    }
  }
}
@media screen and (max-width: 996px){
  .four{
    .title{
      min-height: 95px;
      height: 100%;
      line-height: 90px;
    }
  }
}
@media screen and (max-width: 768px){
  .four{
    .title{
      height: 100%;
      line-height: 45px;
    }
    .filter_box{
      margin-bottom: 15px;
      .filter_name{
        display: block;
      }
      .dropdown_menu {
        width: 90%;
        margin: 0 auto;
        display: block;
        .dropdown_list{
          width: 100%;
          margin: 0 auto;
          left: 0;
        }
      }
    }
    .prod_slider{
      .prod_item{
        width: 100%;
      }
    }
  }
}
@media screen and (max-width: 468px) {
  .four{
    .wrap_productBox{
      padding: 15px;
    }

  }
}
