
*{
  box-sizing: border-box;
}
html,body{
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-weight: 300;
}
a{
  color: #fff;
}
.clearfix{
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}
.container{
  width: 100%;
  max-width: 1310px;
  margin: 0 auto;
}
.semiBold,b{
  font-weight: 500;
}
// title
.title{
  font-size: 30px;
  color: #3a579e;
  background: #fff;
  font-weight: 300;
  text-align: center;
  height: 95px;
  margin: 0;
  line-height: 95px;
}
// btn
.btn{
  padding: 15px 40px;
  background: #fff;
  color: #6cc0e6;
  font-size: 14px;
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
  transition: all 0.3s ease-in;
  &:hover{
    background: #000;
  }
}
// badge
.prod_item,.promo-item{
  position: relative;
}
.badge,.badge2{
  position: absolute;
  top: 0;
  right: 0;
  width: 125px;
  height: 150px;
  background-position: center;
  a{
    display: block;
    width: 100%;
    height: 100%;
  }
}
.badge{
  background: url(../img/badge.png) no-repeat;
}
.badge2{
  background: url(../img/badge2.png) no-repeat;
}
// promo count
.promo-count{
  text-align: center;
  margin-top: 20px;
  span{
    display: inline-block;
    text-align: center;
    width: 65px;
    height: 65px;
    color: #fff;
    font-size: 42px;
    font-weight: 600;
    border: 2px solid;
    border-radius: 50%;
  }
}
//promo-list
#promo,#promo2,.promo-list{
  float: left;
}
.promo-list{
  font-size: 26px;
  margin-left: 15px;
  ol{
    margin-top: 60px;
    margin-bottom: 0;
    line-height: 34px;
    &:after{
      content: '(Twoje zamówienie dostarczymy do Ciebie bezpłatnie kurierem)';
      font-size: 17px;
      position: relative;
      bottom: 15px;
    }
  }
}
// footer
footer{
  color: #3a579e;
  text-align: center;
  font-size: 30px;
  margin: 40px 0 90px 0;
}
@media screen and (max-width: 468px) {
  footer{
     font-size: 20px;
     margin: 40px 0 40px 0;
  }
}
