.second{
  position: relative;
  background: url(../img/vector.png) no-repeat, #1c83bf;
  background-position: bottom;
  min-height: 674px;
  .btn{
    color: #1c83bf;
  }
  #promo{
    width: 55%;
    text-align: right;
    .promo-item{
      display: inline-block;
      min-width: 300px;
      min-height: 300px;
      width: 100%;
      max-width: 800px;
      background: url(../img/ekspres2.png) no-repeat;
      background-size: contain;
      background-position: right;
    }
    .btn-wrap{
      display: inline-block;
      min-width: 300px;
      width: 100%;
      max-width: 800px;
      text-align: left;
      .btn{
        margin-left: 50px;
      }
    }
    .badge{
      top: 45px;
    }
  }
  .promo-list{
    .btn{
      margin-top: 36px;
      margin: 40px 0 80px 0;
    }
  }
}
@media screen and (max-width: 1500px) {
  .second{
    #promo {
      width: 50%;
      margin: 0 auto;
      // float: none;
      text-align: center;
      .promo-item{
        margin: 0 auto;
        width: 90%;
      }
      .btn-wrap{
        text-align: center;
        .btn{
          margin: 0;
        }
      }
      .badge{
        top: -15px;
        right: -30px;
      }
    }
    .promo-list{
      width: 45%;
      margin: 0;
      text-align: center;
      ol{
        text-align: left;
        font-size: 22px;
        margin: 60px auto 0;
        min-width: 300px;
        max-width: 90%;
      }
      .btn{
        margin: 40px 0 80px 0;
      }
    }
  }
}
@media screen and (max-width: 996px) {
  .second{
    #promo{
      width: 100%;
      float: none;
      .badge{
        top: -20px;
        right: 0;
      }
    }
    .promo-list{
      width: 100%;
      margin: 0;
      text-align: center;
      ol{
        text-align: left;
        margin: 60px auto 0;
        min-width: 300px;
        max-width: 80%;
      }
    }
  }
}
@media screen and (max-width: 468px) {
  .title{
    font-size: 20px;
  }
}
