.third{
  position: relative;
  background: url(../img/vector2.png) no-repeat, #34bcaa;
  background-position: bottom;
  min-height: 595px;
  .btn{
    color: #2ea595;
  }
  .title-circle{
    background: #fff;
    height: 13px;
    text-align: center;
    span{
      color: #1c83bf;
      font-size: 27px;
      font-weight: bold;
      display: inline-block;
      width: 75px;
      height: 75px;
      position: relative;
      top: -31px;
      background: #fff;
      line-height: 75px;
      border-radius: 50%;
    }
  }
  .promo-count{
    margin-top: 50px;
  }
  #promo2{
    width: 50%;
    text-align: right;
    .promo-item{
      display: inline-block;
      min-width: 300px;
      min-height: 300px;
      width: 100%;
      max-width: 555px;
      background: url(../img/ekspresM2.png) no-repeat;
      background-size: contain;
      background-position: left;
    }
    .btn-wrap{
      display: inline-block;
      min-width: 300px;
      width: 100%;
      max-width: 555px;
      text-align: left;
      padding-left: 35px;
    }
    .badge2{
      top: 55px;
    }
  }
  .promo-list{
    margin-left: 5%;
    .btn{
      margin-top: 71px;
    }
  }
}
@media screen and (max-width: 1500px) {
  .third{
    #promo2{
      text-align: center;
      .btn-wrap{
        text-align: center;
        padding: 0;
      }
    }
    .promo-list{
      margin-left: 0;
      width: 45%;
      text-align: center;
      ol{
        text-align: left;
        font-size: 22px;
        margin: 60px auto 0;
        min-width: 300px;
        max-width: 90%;
      }
      .btn{
        margin: 40px auto 80px auto;
      }
    }
  }
}
@media screen and (max-width: 996px) {
  .third{
    #promo2{
      width: 90%;
      float: none;
      text-align: center;
      margin: 0 auto;
    }
    .promo-list{
      width: 100%;
      ol{
        text-align: left;
        margin: 60px auto 0;
        min-width: 300px;
        max-width: 80%;
      }
    }
  }
}
@media screen and (max-width: 468px) {
  .third{
    #promo2{
      .badge2{
        top: 0;
      }
    }
  }
}
