@charset "UTF-8";
* {
  box-sizing: border-box; }

html, body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-weight: 300; }

a {
  color: #fff; }

.clearfix::after {
  display: block;
  content: "";
  clear: both; }

.container {
  width: 100%;
  max-width: 1310px;
  margin: 0 auto; }

.semiBold, b {
  font-weight: 500; }

.title {
  font-size: 30px;
  color: #3a579e;
  background: #fff;
  font-weight: 300;
  text-align: center;
  height: 95px;
  margin: 0;
  line-height: 95px; }

.btn {
  padding: 15px 40px;
  background: #fff;
  color: #6cc0e6;
  font-size: 14px;
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
  transition: all 0.3s ease-in; }
  .btn:hover {
    background: #000; }

.prod_item, .promo-item {
  position: relative; }

.badge, .badge2 {
  position: absolute;
  top: 0;
  right: 0;
  width: 125px;
  height: 150px;
  background-position: center; }
  .badge a, .badge2 a {
    display: block;
    width: 100%;
    height: 100%; }

.badge {
  background: url(../img/badge.png) no-repeat; }

.badge2 {
  background: url(../img/badge2.png) no-repeat; }

.promo-count {
  text-align: center;
  margin-top: 20px; }
  .promo-count span {
    display: inline-block;
    text-align: center;
    width: 65px;
    height: 65px;
    color: #fff;
    font-size: 42px;
    font-weight: 600;
    border: 2px solid;
    border-radius: 50%; }

#promo, #promo2, .promo-list {
  float: left; }

.promo-list {
  font-size: 26px;
  margin-left: 15px; }
  .promo-list ol {
    margin-top: 60px;
    margin-bottom: 0;
    line-height: 34px; }
    .promo-list ol:after {
      content: '(Twoje zamówienie dostarczymy do Ciebie bezpłatnie kurierem)';
      font-size: 17px;
      position: relative;
      bottom: 15px; }

footer {
  color: #3a579e;
  text-align: center;
  font-size: 30px;
  margin: 40px 0 90px 0; }

@media screen and (max-width: 468px) {
  footer {
    font-size: 20px;
    margin: 40px 0 40px 0; } }

.first {
  background: url(../img/firstBg.jpg) no-repeat;
  background-position: right;
  background-size: cover;
  height: 100%;
  min-height: 596px;
  transition: all 0.3s ease-in; }
  .first header {
    text-align: right; }
    .first header .logo {
      display: inline-block;
      width: 298px;
      height: 53px;
      margin-top: 40px;
      margin-right: 25px;
      font-size: 45px;
      font-weight: bold;
      text-shadow: 0 1px 3px #000; }
  .first .box1, .first .box2 {
    width: 50%;
    display: inline-block;
    float: left;
    margin-top: 95px; }
  .first .box1 {
    text-align: right;
    padding-left: 190px;
    padding-right: 15px; }
    .first .box1 .title-info {
      font-size: 40px;
      margin-top: 125px;
      padding-left: 30px;
      text-align: left; }
    .first .box1 .btn {
      color: #6cc0e6;
      margin: 30px 30px 0 0;
      padding: 20px 40px; }
  .first .box2 {
    padding-left: 15px; }
    .first .box2 .prod {
      display: inline-block;
      width: 275px;
      height: 380px;
      position: relative; }
      .first .box2 .prod .item-img {
        position: absolute;
        bottom: 0; }
      .first .box2 .prod#item1 .item-img {
        bottom: 15px; }
      .first .box2 .prod#item1 .badge {
        right: 25px;
        top: 2px; }

@media screen and (max-width: 1400px) {
  .first header {
    text-align: center; }
    .first header .logo {
      margin-right: 0; }
  .first .box1 {
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 0; }
    .first .box1 .title-info {
      margin: 30px;
      text-align: center; }
    .first .box1 .btn {
      margin: 0; }
  .first .box2 {
    margin-top: 45px;
    width: 100%;
    text-align: center; }
    .first .box2 .prod {
      width: 30%; }
      .first .box2 .prod .item-img {
        left: 0; } }

@media screen and (max-width: 996px) {
  .first {
    background-position: bottom; }
    .first header .logo {
      margin-top: 30px; }
    .first .box1 {
      margin-top: 40px; }
      .first .box1 .title-info {
        padding: 0; }
    .first .box2 {
      padding: 0;
      margin-top: 45px;
      width: 100%;
      text-align: center; }
      .first .box2 .prod {
        width: 60%;
        height: auto; }
        .first .box2 .prod#item1 .badge {
          right: 0; }
        .first .box2 .prod .item-img {
          margin-top: 50px;
          position: relative; } }

@media screen and (max-width: 468px) {
  .first .box2 .prod {
    width: 90%;
    height: auto; }
    .first .box2 .prod .item-img {
      width: 100%; } }

.second {
  position: relative;
  background: url(../img/vector.png) no-repeat, #1c83bf;
  background-position: bottom;
  min-height: 674px; }
  .second .btn {
    color: #1c83bf; }
  .second #promo {
    width: 55%;
    text-align: right; }
    .second #promo .promo-item {
      display: inline-block;
      min-width: 300px;
      min-height: 300px;
      width: 100%;
      max-width: 800px;
      background: url(../img/ekspres2.png) no-repeat;
      background-size: contain;
      background-position: right; }
    .second #promo .btn-wrap {
      display: inline-block;
      min-width: 300px;
      width: 100%;
      max-width: 800px;
      text-align: left; }
      .second #promo .btn-wrap .btn {
        margin-left: 50px; }
    .second #promo .badge {
      top: 45px; }
  .second .promo-list .btn {
    margin-top: 36px;
    margin: 40px 0 80px 0; }

@media screen and (max-width: 1500px) {
  .second #promo {
    width: 50%;
    margin: 0 auto;
    text-align: center; }
    .second #promo .promo-item {
      margin: 0 auto;
      width: 90%; }
    .second #promo .btn-wrap {
      text-align: center; }
      .second #promo .btn-wrap .btn {
        margin: 0; }
    .second #promo .badge {
      top: -15px;
      right: -30px; }
  .second .promo-list {
    width: 45%;
    margin: 0;
    text-align: center; }
    .second .promo-list ol {
      text-align: left;
      font-size: 22px;
      margin: 60px auto 0;
      min-width: 300px;
      max-width: 90%; }
    .second .promo-list .btn {
      margin: 40px 0 80px 0; } }

@media screen and (max-width: 996px) {
  .second #promo {
    width: 100%;
    float: none; }
    .second #promo .badge {
      top: -20px;
      right: 0; }
  .second .promo-list {
    width: 100%;
    margin: 0;
    text-align: center; }
    .second .promo-list ol {
      text-align: left;
      margin: 60px auto 0;
      min-width: 300px;
      max-width: 80%; } }

@media screen and (max-width: 468px) {
  .title {
    font-size: 20px; } }

.third {
  position: relative;
  background: url(../img/vector2.png) no-repeat, #34bcaa;
  background-position: bottom;
  min-height: 595px; }
  .third .btn {
    color: #2ea595; }
  .third .title-circle {
    background: #fff;
    height: 13px;
    text-align: center; }
    .third .title-circle span {
      color: #1c83bf;
      font-size: 27px;
      font-weight: bold;
      display: inline-block;
      width: 75px;
      height: 75px;
      position: relative;
      top: -31px;
      background: #fff;
      line-height: 75px;
      border-radius: 50%; }
  .third .promo-count {
    margin-top: 50px; }
  .third #promo2 {
    width: 50%;
    text-align: right; }
    .third #promo2 .promo-item {
      display: inline-block;
      min-width: 300px;
      min-height: 300px;
      width: 100%;
      max-width: 555px;
      background: url(../img/ekspresM2.png) no-repeat;
      background-size: contain;
      background-position: left; }
    .third #promo2 .btn-wrap {
      display: inline-block;
      min-width: 300px;
      width: 100%;
      max-width: 555px;
      text-align: left;
      padding-left: 35px; }
    .third #promo2 .badge2 {
      top: 55px; }
  .third .promo-list {
    margin-left: 5%; }
    .third .promo-list .btn {
      margin-top: 71px; }

@media screen and (max-width: 1500px) {
  .third #promo2 {
    text-align: center; }
    .third #promo2 .btn-wrap {
      text-align: center;
      padding: 0; }
  .third .promo-list {
    margin-left: 0;
    width: 45%;
    text-align: center; }
    .third .promo-list ol {
      text-align: left;
      font-size: 22px;
      margin: 60px auto 0;
      min-width: 300px;
      max-width: 90%; }
    .third .promo-list .btn {
      margin: 40px auto 80px auto; } }

@media screen and (max-width: 996px) {
  .third #promo2 {
    width: 90%;
    float: none;
    text-align: center;
    margin: 0 auto; }
  .third .promo-list {
    width: 100%; }
    .third .promo-list ol {
      text-align: left;
      margin: 60px auto 0;
      min-width: 300px;
      max-width: 80%; } }

@media screen and (max-width: 468px) {
  .third #promo2 .badge2 {
    top: 0; } }

.four {
  background: url(../img/lastBg.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  min-height: 1178px; }
  .four .btn-wrap {
    text-align: center;
    margin: 70px 0; }
  .four .btn {
    padding: 15px 80px;
    border: 1px solid;
    color: #3a579e; }
  .four .wrap_productBox {
    margin-top: 25px;
    margin-bottom: 240px;
    background: #fff;
    font-size: 18px;
    color: #3a579e;
    padding: 65px 60px; }
  .four .filter_box {
    display: inline-block;
    min-width: 300px;
    height: 60px; }
    .four .filter_box .dropdown_menu {
      color: #49afe9;
      display: inline-block;
      width: 225px;
      border: 1px solid #c3c3c3;
      position: relative;
      top: 8px;
      cursor: pointer; }
      .four .filter_box .dropdown_menu:after {
        content: '';
        display: inline-block;
        width: 14px;
        height: 14px;
        border: 1px solid #c3c3c3;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
        position: absolute;
        right: 15px;
        top: 8px; }
      .four .filter_box .dropdown_menu a {
        color: #49afe9;
        display: inline-block;
        text-decoration: none; }
      .four .filter_box .dropdown_menu .selected_option {
        height: 35px;
        line-height: 40px;
        padding: 0 10px;
        overflow: hidden; }
      .four .filter_box .dropdown_menu .dropdown_list {
        display: none;
        width: 225px;
        position: absolute;
        top: 41px;
        left: -1px;
        padding: 0;
        margin: 0;
        z-index: 2;
        background: #fff; }
        .four .filter_box .dropdown_menu .dropdown_list li {
          list-style: none;
          border: 1px solid #c3c3c3;
          border-top: none; }
          .four .filter_box .dropdown_menu .dropdown_list li a {
            padding: 10px;
            width: 100%; }
      .four .filter_box .dropdown_menu.open .dropdown_list {
        display: block; }
  .four .color_menu {
    display: inline-block; }
    .four .color_menu .color_list .circle {
      display: inline-block;
      border: 2px solid #a29e9e;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      cursor: pointer; }
      .four .color_menu .color_list .circle.active {
        box-shadow: 0 0 2px 2px #49afe9; }
    .four .color_menu .color_list .white {
      background: #fff; }
    .four .color_menu .color_list .grey {
      background: grey; }
    .four .color_menu .color_list .orange {
      background: orange; }
    .four .color_menu .color_list .red {
      background: red; }
    .four .color_menu .color_list .black {
      background: #000; }
    .four .color_menu .color_list .yellow {
      background: yellow; }
  .four .prod_slider.space, .four .prod_slider .owl-stage-outer {
    padding-top: 100px; }
  .four .prod_slider .owl-item .prod_item {
    min-width: 100%; }
  .four .prod_slider .prod_item {
    display: inline-block;
    min-width: 33%;
    text-align: center; }
  .four .prod_slider .prod_wrap {
    text-align: center;
    position: relative; }
    .four .prod_slider .prod_wrap .prod-img {
      display: inline-block; }
      .four .prod_slider .prod_wrap .prod-img img {
        height: 0;
        opacity: 0;
        transition: opacity 0.3s ease-in; }
        .four .prod_slider .prod_wrap .prod-img img.active {
          opacity: 1;
          display: inline-block;
          min-height: 250px;
          width: initial;
          max-width: 100%;
          max-height: 250px; }
    .four .prod_slider .prod_wrap .badge, .four .prod_slider .prod_wrap .badge2 {
      top: -30px; }
    .four .prod_slider .prod_wrap .prod_info .prod_price {
      display: block;
      font-weight: bold; }
    .four .prod_slider .prod_wrap .prod_info .color_list {
      padding: 0; }
      .four .prod_slider .prod_wrap .prod_info .color_list .circle {
        margin: 0 3px; }
  .four .owl-prev, .four .owl-next {
    display: inline-block;
    width: 50px;
    height: 95px;
    background: #34bcaa;
    position: absolute;
    top: calc(50% - 47px);
    transition: all 0.3s ease; }
    .four .owl-prev:hover, .four .owl-next:hover {
      transform: scale(0.93); }
    .four .owl-prev:before, .four .owl-next:before {
      content: '';
      display: inline-block;
      width: 20px;
      height: 20px;
      border: solid;
      color: #fff;
      right: 20px;
      top: calc(50% - 10px);
      position: absolute;
      border-width: 3px 3px 0 0;
      transform: rotate(45deg); }
    .four .owl-prev:after, .four .owl-next:after {
      content: '';
      display: inline-block;
      border: 5px solid transparent;
      border-top: 5px solid #116358;
      border-left: 5px solid #116358; }
  .four .owl-prev {
    left: -70px; }
    .four .owl-prev:before {
      border-width: 0 0 3px 3px;
      left: 20px; }
    .four .owl-prev:after {
      border: 5px solid transparent;
      border-top: 5px solid #116358;
      border-right: 5px solid #116358;
      bottom: -10px;
      position: absolute; }
  .four .owl-next {
    right: -70px; }
    .four .owl-next:after {
      bottom: -10px;
      right: 0;
      position: absolute; }

@media screen and (max-width: 1400px) {
  .owl-next, .owl-prev {
    display: none !important; } }

@media screen and (max-width: 1200px) {
  .four .filter_box {
    display: block; }
  .four .prod_slider .prod_item {
    width: 45%; } }

@media screen and (max-width: 996px) {
  .four .title {
    min-height: 95px;
    height: 100%;
    line-height: 90px; } }

@media screen and (max-width: 768px) {
  .four .title {
    height: 100%;
    line-height: 45px; }
  .four .filter_box {
    margin-bottom: 15px; }
    .four .filter_box .filter_name {
      display: block; }
    .four .filter_box .dropdown_menu {
      width: 90%;
      margin: 0 auto;
      display: block; }
      .four .filter_box .dropdown_menu .dropdown_list {
        width: 100%;
        margin: 0 auto;
        left: 0; }
  .four .prod_slider .prod_item {
    width: 100%; } }

@media screen and (max-width: 468px) {
  .four .wrap_productBox {
    padding: 15px; } }
